.wrapReport {
    padding: 30px 0;
} 

@include media-down(sp) {
    .wrapReport {
        padding: 20px 0;
    } 
}
@media print {
    .wrapReport {
        .inner03 {
            padding: 0;
        }
    }
}