// -----------------------------------------------------------------------------
// Color style
//

.colorGreen {
    fill: #008136 !important;
}
.colorEminence {
    fill: #692787 !important;
}
.colorSilver {
    fill: $color-gray10 !important;
}
.colorDoveGray {
    fill: $color-gray02 !important;
}
.colorPizazz {
    fill: #FF8800 !important;
}
.colorSupernova {
    fill: #FFCF0D !important;
}
.colorMandalay {
    fill: #AE7F21 !important;
}
.colorClementine {
    fill: #EE6F00 !important;
}
.colorMonza {
    fill: #D2003A !important;
}
.colorClaret {
    fill: #911A3A !important;
}
.colorGreenPea {
    fill: #175340 !important;
}
.colorDeepBlush {
    fill: #DD71A8 !important;
}
.colorLipstick {
    fill: #C7007D !important;
}
.colorClaret {
    fill: #911A3A !important;
}
.colorEndeavou {
    fill: #075BB2 !important;
}
.colorDownriver {
    fill: #0B2951 !important;
}
.colorAzure {
    fill: #3A5DA1 !important;
}
.colorCerulean {
    fill: #0095D8 !important;
}