// -----------------------------------------------------------------------------
// Error style
// -----------------------------------------------------------------------------

.error {
    display: none;
    margin-top: 10px;
    color: #CE2C35;
    font-size: 1.2rem;
    @include media-down(sp) {
        margin-top: 5px;
    }
}
