// -----------------------------------------------------------------------------
// Score style
// -----------------------------------------------------------------------------
.groupScore {
    display: flex;
    justify-content: space-between;
}

.score {
   display: flex;
    li {
        width: 10px;
        height: 10px;
        margin-right: 2px;
        border-radius: 10px;
        border: 1px solid #666666;
        background-color: #FFF;
        &.active {
            background-color: $color-gray02;
        }
    }
}
